Repository ModularHistory/modularhistory, changes with the labels that .github/labeler.yml gives for each.
All labels: config, source, automation, docs

Update dependencies
  .github/workflows/delivery.yml
  backend/poetry.lock
  backend/pyproject.toml
Labels: source, automation

Cleanup
  .github/workflows/delivery.yml
  .vscode/cspell.json
  frontend/components/account/PasswordChangeForm.tsx
  frontend/components/details/ModuleLink.tsx
Labels: source, automation

Cleanup
  .github/workflows/delivery.yml
  frontend/public/vercel.svg
Labels: source, automation

Remove console logs
  .github/workflows/delivery.yml
  frontend/components/details/ModuleDetail.tsx
  frontend/pages/index.page.tsx
Labels: source, automation

Fix file permissions and SSR
  .github/workflows/delivery.yml
  frontend/Dockerfile.frontend
  frontend/pages/_app.page.tsx
Labels: source, automation

Refactoring
  .github/workflows/delivery.yml
  frontend/.eslintrc.js
  frontend/next.config.js
Labels: source, automation

Require dotenv file
  .github/workflows/delivery.yml
  frontend/next.config.js
Labels: source, automation

Cleanup
  .github/workflows/delivery.yml
  frontend/next.config.js
Labels: source, automation

Cleanup
  .github/workflows/delivery.yml
  frontend/next.config.js
Labels: source, automation

Refactoring
  .github/workflows/delivery.yml
  frontend/next.config.js
Labels: source, automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  frontend/next.config.js
Labels: source, automation

Cleanup
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  frontend/pages/donations/makeWithHostedFields.page.tsx
Labels: source, automation

Cleanup
  frontend/pages/donations/makeWithHostedFields.page.tsx
Labels: source

Debugging
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  frontend/components/details/ModuleDetail.tsx
Labels: source, automation

Debugging
  frontend/Dockerfile.frontend
Labels: source

Refactoring
  .config/scripts/deploy.sh
  .github/workflows/delivery.yml
Labels: config, automation

Refactoring
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .config/nginx/routes.conf
  .github/workflows/delivery.yml
Labels: config, automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Debugging
  .github/workflows/delivery.yml
Labels: automation

Refactoring
  .github/workflows/delivery.yml
Labels: automation

Refactoring
  .github/workflows/delivery.yml
Labels: automation

Refactoring
  .github/workflows/delivery.yml
Labels: automation

Prod configuration
  .config/nginx/dev/nginx.conf
  .config/nginx/prod/nginx.conf
  .config/nginx/routes.conf
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: config, automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

Refactoring
  .config/_.env
  .config/_.env.dev
  .config/_.env.test
  .config/hooks/pre-commit
  .config/nginx/routes.conf
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  backend/apps/users/api/serializers.py
  backend/core/config/cors.py
  backend/core/sentry.py
  backend/core/settings.py
  docker-compose.override.yml
  frontend/.gitignore
  frontend/components/Navbar.tsx
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_error.js
  frontend/pages/api/auth/[...nextauth].page.ts
  frontend/pages/index.page.tsx
  frontend/pages/sentry_sample_error.js
  frontend/sentry.client.config.js
  frontend/sentry.js
  frontend/sentry.properties
  frontend/sentry.server.config.js
  poetry.lock
  pyproject.toml
Labels: config, source, automation

Update dependencies
  .github/workflows/integration.yml
  backend/Dockerfile.backend
  frontend/package-lock.json
  frontend/package.json
Labels: source, automation

Update dependencies (#1186)
  .github/workflows/integration.yml
  backend/Dockerfile.backend
  frontend/package-lock.json
  frontend/package.json
Labels: source, automation

Use Glitchtip
  .config/hooks/post-merge
  frontend/next.config.js
  frontend/pages/_app.page.tsx
  frontend/pages/_error.page.js
  frontend/pages/_error.page.tsx
  frontend/pages/sentry_sample_error.page.js
  frontend/sentry.client.config.js
  frontend/sentry.server.config.js
Labels: config, source

Cleanup
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  backend/commands/setup.py
Labels: source, automation

Use GlitchTip (#1189)
  .config/hooks/post-merge
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  backend/commands/setup.py
  frontend/next.config.js
  frontend/pages/_app.page.tsx
  frontend/pages/_error.page.js
  frontend/pages/_error.page.tsx
  frontend/pages/sentry_sample_error.page.js
  frontend/sentry.client.config.js
  frontend/sentry.server.config.js
Labels: config, source, automation

Cleanup
  .config/scripts/setup.sh
  .dockerignore
  .gitignore
  .pyre_configuration
  poetry.lock
  pyproject.toml
Labels: config

Cleanup
  .config/hooks/post-merge
  .github/workflows/integration.yml
Labels: config, automation

Cleanup
  .config/hooks/post-merge
  .config/scripts/setup.sh
Labels: config

.github/labeler.yml:

config:
  - .config/**/*
  - '*.yml'
  - '*.yaml'
source:
  - backend/**/*
  - frontend/**/*
automation:
  - .github/workflows/*
docs:
  - '*.md'
  - '*.rst'
