Repository ModularHistory/modularhistory, changes with the labels that .github/labeler.yml gives for each.
All labels: config, source, automation, docs

Update dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: source

Cleanup
  frontend/pages/collections/index.page.tsx
Labels: source

Update dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: source

Refactoring
  frontend/pages/_app.page.tsx
Labels: source

Cleanup
  .config/_.env
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  frontend/sentry.properties
Labels: config, source, automation

Sentry configuration
  .config/_.env
  .config/_.env.dev
  .config/_.env.prod
  .config/_.env.test
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  frontend/Dockerfile.frontend
  frontend/pages/api/auth/[...nextauth].page.ts
Labels: config, source, automation

Sentry configuration
  frontend/Dockerfile.frontend
Labels: source

Sentry configuration (#1198)
  .config/_.env
  .config/_.env.dev
  .config/_.env.prod
  .config/_.env.test
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  frontend/Dockerfile.frontend
  frontend/pages/api/auth/[...nextauth].page.ts
Labels: config, source, automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

Fix syntax error
  .github/workflows/integration.yml
Labels: automation

Fix environment issue (#1199)
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

Refactoring
  .github/workflows/integration.yml
  frontend/Dockerfile.frontend
  frontend/components/cards/ModuleUnionCard.tsx
Labels: source, automation

Refactoring (#1200)
  .github/workflows/integration.yml
  frontend/Dockerfile.frontend
  frontend/components/cards/ModuleUnionCard.tsx
Labels: source, automation

Fix Sentry config
  .config/_.env
  frontend/.gitignore
  frontend/pages/_error.js
  frontend/pages/sentry_sample_error.js
Labels: config, source

Cleanup
  frontend/pages/_error.js
  frontend/pages/sentry_sample_error.js
Labels: source

Update dependencies
  poetry.lock
  pyproject.toml
Labels: none

Add Sentry environment
  backend/Dockerfile.backend
  frontend/sentry.client.config.js
  frontend/sentry.server.config.js
Labels: source

Update dependencies
  .github/workflows/delivery.yml
Labels: automation

Bug fix
  docker-compose.prod.yml
Labels: config

Refactoring
  .config/_.env
  .config/_.env.dev
  .config/entrypoints/celery
  .config/entrypoints/celery_beat
  .config/entrypoints/django
  .config/entrypoints/setup
  .config/entrypoints/webserver
  .dockerignore
  backend/Dockerfile.backend
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: config, source

Refactoring
  .config/entrypoints/celery_beat
Labels: config

Cleanup
  .config/_.env
  .config/_.env.prod
  .config/_.env.test
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
Labels: config, automation

Refactoring (#1201)
  .config/_.env
  .config/_.env.dev
  .config/_.env.prod
  .config/_.env.test
  .config/entrypoints/celery
  .config/entrypoints/celery_beat
  .config/entrypoints/django
  .config/entrypoints/setup
  .config/entrypoints/webserver
  .config/scripts/init/celery_beat.sh
  .dockerignore
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  .github/workflows/seed.yml
  backend/Dockerfile.backend
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: config, source, automation

Cleanup
  .config/entrypoints/celery_beat
  docker-compose.override.yml
  docker-compose.yml
Labels: config

Refactoring
  backend/core/sentry.py
  frontend/sentry.base.config.ts
  frontend/sentry.client.config.ts
  frontend/sentry.server.config.ts
Labels: source

Update delivery trigger
  .github/workflows/delivery.yml
Labels: automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  backend/core/settings.py
Labels: source, automation

Update dependencies
  .config/scripts/functions.sh
  .config/scripts/setup.sh
  .github/workflows/integration.yml
  .python-version
  poetry.lock
Labels: config, automation

Update CI
  .github/workflows/integration.yml
Labels: automation

Clean up CI
  .github/workflows/integration.yml
Labels: automation

Clean up CI
  .github/workflows/integration.yml
  frontend/components/cards/ModuleUnionCard.tsx
  poetry.lock
Labels: source, automation

Separate dev and test dependencies
  .github/workflows/integration.yml
  poetry.lock
  pyproject.toml
Labels: automation

Move graphviz to dev dependencies
  poetry.lock
  pyproject.toml
Labels: none

Update dependencies
  poetry.lock
Labels: none

Update CI
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

refactor: cleanup
  .config/_.env
  .github/workflows/integration.yml
Labels: config, automation

Update README.rst
  README.rst
Labels: docs

.github/labeler.yml:

config:
  - .config/**/*
  - '*.yml'
  - '*.yaml'
source:
  - backend/**/*
  - frontend/**/*
automation:
  - .github/workflows/*
docs:
  - '*.md'
  - '*.rst'
