Repository ModularHistory/modularhistory, changes with the labels that .github/labeler.yml gives for each.
All labels: source, automation, docs

Update dependencies
  .github/dependabot.yml
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  backend/poetry.lock
Labels: source, automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  backend/poetry.lock
  backend/pyproject.toml
Labels: source, automation

Update dependencies
  .vscode/settings.json
  backend/poetry.lock
  backend/pyproject.toml
Labels: source

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
Labels: automation

xpack.ml.enabled=true
  docker-compose.yml
Labels: none

Update dependencies
  .github/workflows/delivery.yml
  backend/poetry.lock
  backend/pyproject.toml
Labels: source, automation

Linting & autoformatting
  .github/workflows/delivery.yml
  frontend/.eslintrc.js
  frontend/components/BigAnchor.tsx
  frontend/components/search/Timeline/Timeline.tsx
  frontend/components/search/Timeline/TimelineMark.tsx
  frontend/cypress/fixtures/emptySearchResults.json
  frontend/cypress/integration/examples/actions.spec.js
  frontend/cypress/integration/examples/aliasing.spec.js
  frontend/cypress/integration/examples/assertions.spec.js
  frontend/cypress/integration/examples/connectors.spec.js
  frontend/cypress/integration/examples/cookies.spec.js
  frontend/cypress/integration/examples/cypress_api.spec.js
  frontend/cypress/integration/examples/files.spec.js
  frontend/cypress/integration/examples/local_storage.spec.js
  frontend/cypress/integration/examples/location.spec.js
  frontend/cypress/integration/examples/misc.spec.js
  frontend/cypress/integration/examples/navigation.spec.js
  frontend/cypress/integration/examples/network_requests.spec.js
  frontend/cypress/integration/examples/querying.spec.js
  frontend/cypress/integration/examples/spies_stubs_clocks.spec.js
  frontend/cypress/integration/examples/traversal.spec.js
  frontend/cypress/integration/examples/utilities.spec.js
  frontend/cypress/integration/examples/viewport.spec.js
  frontend/cypress/integration/examples/waiting.spec.js
  frontend/cypress/integration/examples/window.spec.js
  frontend/cypress/integration/home.spec.js
  frontend/cypress/plugins/index.js
  frontend/cypress/support/index.js
  frontend/cypress/tsconfig.json
  frontend/styles/Home.module.css
  frontend/styles/globals.css
Labels: source, automation

Linting & autoformatting
  .config/hooks/pre-commit
Labels: none

Update dependencies
  .github/workflows/delivery.yml
  frontend/components/Navbar.tsx
Labels: source, automation

Update dependencies
  .github/workflows/delivery.yml
  docker-compose.yml
  frontend/Dockerfile.frontend
Labels: source, automation

Add node_modules to PATH
  frontend/Dockerfile.frontend
Labels: source

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  frontend/auth.ts
Labels: source, automation

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  backend/pyproject.toml
  frontend/.eslintrc.js
Labels: source, automation

Update types
  frontend/components/HtmlParser.tsx
  frontend/components/details/ModuleLink.tsx
  frontend/components/details/__tests__/ModuleHTML.test.tsx
  frontend/components/forms/DynamicForm.tsx
  frontend/components/search/InstantSearch/EntitiesInstantSearch.tsx
  frontend/components/search/InstantSearch/TopicsInstantSearch.tsx
  frontend/components/search/SearchForm.tsx
  frontend/components/sources/PdfLink.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/donations/make.page.tsx
  frontend/pages/users/[handle]/settings.page.tsx
  frontend/types/react-braintree-fields.d.ts
Labels: source

Use node user in Docker
  docker-compose.override.yml
  frontend/Dockerfile.frontend
Labels: source

Add --quiet flag
  .config/scripts/deploy.sh
Labels: none

Cleanup
  .vscode/settings.json
  frontend/components/details/ModuleLink.tsx
  frontend/components/search/SearchForm.tsx
Labels: source

Refactoring
  .github/workflows/delivery.yml
  frontend/Dockerfile.frontend
Labels: source, automation

Refactoring
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  frontend/Dockerfile.frontend
Labels: source, automation

Use env var for Django hostname
  .config/_.env
  .github/workflows/delivery.yml
  frontend/auth.ts
  frontend/next.config.js
  frontend/pages/[...path].page.tsx
  frontend/pages/api/auth/[...nextauth].page.ts
  frontend/pages/collections/[slug].page.tsx
  frontend/pages/collections/index.page.tsx
  frontend/pages/donations/make.page.tsx
  frontend/pages/donations/makeWithHostedFields.page.tsx
  frontend/pages/entities/[slug].page.tsx
  frontend/pages/entities/index.page.tsx
  frontend/pages/errors/[code].page.tsx
  frontend/pages/images/[slug].page.tsx
  frontend/pages/images/index.page.tsx
  frontend/pages/index.page.tsx
  frontend/pages/occurrences/[slug].page.tsx
  frontend/pages/occurrences/index.page.tsx
  frontend/pages/posts/index.page.tsx
  frontend/pages/propositions/[slug].page.tsx
  frontend/pages/propositions/index.page.tsx
  frontend/pages/quotes/[slug].page.tsx
  frontend/pages/quotes/index.page.tsx
  frontend/pages/search.page.tsx
  frontend/pages/sources/[slug].page.tsx
  frontend/pages/sources/index.page.tsx
  frontend/pages/topics/[slug].page.tsx
  frontend/pages/topics/index.page.tsx
  frontend/pages/users/email-confirmation/[key].page.tsx
Labels: source, automation

Attempt nginx reload w/ sudo
  .config/scripts/deploy.sh
Labels: none

Update dependencies
  .github/workflows/delivery.yml
  .github/workflows/integration.yml
  docker-compose.override.yml
Labels: automation

.github/labeler.yml:

source:
  - backend/**/*
  - frontend/**/*
automation:
  - .github/workflows/*
docs:
  - '*.md'
  - '*.rst'
